<div class="container">
    <div class="full-banners">
        <div class="full-banners__main-banner">
            <div class="main-banner-img-slider">
                <div class="main-banner-slide active">
                    <a href="" class="main-banner-link">
                        <img src="/img/slides/slide-1.png" alt="" class="main-banner-img">
                    </a>
                </div>
                <div class="main-banner-slide">
                    <a href="" class="main-banner-link">
                        <img src="/img/slides/slide-2.png" alt="" class="main-banner-img">
                    </a>
                </div>
                <div class="main-banner-slide">
                    <a href="" class="main-banner-link">
                        <img src="/img/slides/slide-3.png" alt="" class="main-banner-img">
                    </a>
                </div>
                <div class="main-banner-slide">
                    <a href="" class="main-banner-link">
                        <img src="/img/slides/slide-4.png" alt="" class="main-banner-img">
                    </a>
                </div>
                <div class="main-banner-slide active">
                    <a href="" class="main-banner-link">
                        <img src="/img/slides/slide-5.png" alt="" class="main-banner-img">
                    </a>
                </div>
                <div class="main-banner-slide">
                    <a href="" class="main-banner-link">
                        <img src="/img/slides/slide-6.png" alt="" class="main-banner-img">
                    </a>
                </div>
                <div class="main-banner-slide">
                    <a href="" class="main-banner-link">
                        <img src="/img/slides/slide-7.png" alt="" class="main-banner-img">
                    </a>
                </div>
                <div class="main-banner-slide">
                    <a href="" class="main-banner-link">
                        <img src="/img/slides/slide-8.png" alt="" class="main-banner-img">
                    </a>
                </div>
                <div class="main-banner-slide">
                    <a href="" class="main-banner-link">
                        <img src="/img/slides/slide-9.png" alt="" class="main-banner-img">
                    </a>
                </div>
                <div class="main-banner-slide">
                    <a href="" class="main-banner-link">
                        <img src="/img/slides/slide-10.png" alt="" class="main-banner-img">
                    </a>
                </div>
                <div class="main-banner-navigation">
                    <div class="main-banner-btn active"></div>
                    <div class="main-banner-btn"></div>
                    <div class="main-banner-btn"></div>
                    <div class="main-banner-btn"></div>
                    <div class="main-banner-btn"></div>
                    <div class="main-banner-btn"></div>
                    <div class="main-banner-btn"></div>
                    <div class="main-banner-btn"></div>
                    <div class="main-banner-btn"></div>
                    <div class="main-banner-btn"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="category-mall">
        <h5 class="category-mall-heading">SHOPEE MALL</h5>
        <div class="category-mall-wrap-card">
            <div class="category-mall-card">
                <div class="category-mall-wrap-img">
                    <img class="category-mall-img" src="/img/cool-mate.jpg" alt="">
                </div>
            </div>
            <div class="category-mall-card">
                <div class="category-mall-wrap-img">
                    <img class="category-mall-img" src="/img/tsla.png" alt="">
                </div>
            </div>
            <div class="category-mall-card">
                <div class="category-mall-wrap-img">
                    <img class="category-mall-img" src="/img/rough.jpg" alt="">
                </div>
            </div>
            <div class="category-mall-card">
                <div class="category-mall-wrap-img">
                    <img class="category-mall-img" src="/img/levent.png" alt="">
                </div>
            </div>
            <div class="category-mall-card">
                <div class="category-mall-wrap-img">
                    <img class="category-mall-img" src="/img/mando.jpg" alt="">
                </div>
            </div>
            <div class="category-mall-card">
                <div class="category-mall-wrap-img">
                    <img class="category-mall-img" src="/img/owen.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="category-mall-wrap-card">
            <div class="category-mall-card">
                <div class="category-mall-wrap-img">
                    <img class="category-mall-img" src="/img/1992.jpg" alt="">
                </div>
            </div>
            <div class="category-mall-card">
                <div class="category-mall-wrap-img">
                    <img class="category-mall-img" src="/img/5s.jpg" alt="">
                </div>
            </div>
            <div class="category-mall-card">
                <div class="category-mall-wrap-img">
                    <img class="category-mall-img" src="/img/vicero.png" alt="">
                </div>
            </div>
            <div class="category-mall-card">
                <div class="category-mall-wrap-img">
                    <img class="category-mall-img" src="/img/4man.png" alt="">
                </div>
            </div>
            <div class="category-mall-card">
                <div class="category-mall-wrap-img">
                    <img class="category-mall-img" src="/img/4u.png" alt="">
                </div>
            </div>
            <div class="category-mall-card">
                <div class="category-mall-wrap-img">
                    <img class="category-mall-img" src="/img/tokyo-life.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__col-2">
                    <nav class="category__left">
                        <h3 class="category__left-heading">
                            <i class="category__left-heading-icon fa-solid fa-list"></i>
                            Tất cả danh mục
                        </h3>
                        <ul class="category__left-list">
                            <li class="category__left-item category__left-item--active">
                                <a href="" class="category__left-item-link">Thời trang</a>
                            </li>
                            <li class="category__left-item">
                                <a href="" class="category__left-item-link">Áo khoác</a>
                            </li>
                            <li class="category__left-item">
                                <a href="" class="category__left-item-link">Áo vest & blazer</a>
                            </li>
                            <li class="category__left-item">
                                <a href="" class="category__left-item-link">Áo hoodie, áo len & áo nỉ</a>
                            </li>
                            <li class="category__left-item">
                                <a href="" class="category__left-item-link">Quần jeans</a>
                            </li>
                            <li class="category__left-item">
                                <a href="" class="category__left-item-link">Quần dài âu</a>
                            </li>
                            <li class="category__left-item collapsible">
                                <a href="" class="category__left-item-link">
                                    Xem thêm
                                    <i class="fa-solid fa-chevron-down"></i>
                                </a>
                            </li>

                            <div class="content-coll">
                                <ul class="category__left-list collapse-list">
                                    <li class="category__left-item">
                                        <a href="" class="category__left-item-link">Quần short</a>
                                    </li>
                                    <li class="category__left-item">
                                        <a href="" class="category__left-item-link">Áo</a>
                                    </li>
                                    <li class="category__left-item">
                                        <a href="" class="category__left-item-link">Áo ba lỗ</a>
                                    </li>
                                    <li class="category__left-item">
                                        <a href="" class="category__left-item-link">Đồ lót</a>
                                    </li>
                                    <li class="category__left-item">
                                        <a href="" class="category__left-item-link">Đồ ngủ</a>
                                    </li>
                                    <li class="category__left-item">
                                        <a href="" class="category__left-item-link">Đồ bộ</a>
                                    </li>
                                    <li class="category__left-item">
                                        <a href="" class="category__left-item-link">Vớ/tất</a>
                                    </li>
                                    <li class="category__left-item">
                                        <a href="" class="category__left-item-link">Trang phục truyền thống</a>
                                    </li>
                                    <li class="category__left-item">
                                        <a href="" class="category__left-item-link">Đồ hóa trang</a>
                                    </li>
                                    <li class="category__left-item">
                                        <a href="" class="category__left-item-link">Trang phục ngành nghề</a>
                                    </li>
                                    <li class="category__left-item">
                                        <a href="" class="category__left-item-link">Trang sức</a>
                                    </li>
                                    <li class="category__left-item">
                                        <a href="" class="category__left-item-link">Mắt kính</a>
                                    </li>
                                    <li class="category__left-item">
                                        <a href="" class="category__left-item-link">Thắt lưng</a>
                                    </li>
                                    <li class="category__left-item">
                                        <a href="" class="category__left-item-link">Cà vạt/nơ cổ</a>
                                    </li>
                                    <li class="category__left-item">
                                        <a href="" class="category__left-item-link">Phụ kiện</a>
                                    </li>
                                    <li class="category__left-item">
                                        <a href="" class="category__left-item-link">Khác</a>
                                    </li>
                                </ul>
                            </div>



                        </ul>
                    </nav>
                </div>
                <div class="grid__col-10">
                    <div class="home__fillter">
                        <div class="home__fillter-left">
                            <span class="home__fillter-label">Sắp xếp theo</span>
                            <button class="home__fillter-btn home__fillter-btn--active">Phổ biến</button>
                            <button class="home__fillter-btn">Mới nhất</button>
                            <button class="home__fillter-btn">Bán chạy</button>
                            <div class="select-input">
                                <span class="select-input__label">Giá</span>
                                <i class="select-input__icon fa-solid fa-chevron-down"></i>
                                <ul class="select-input__list">
                                    <li class="select-input__item">Giá: Thấp đến Cao</li>
                                    <li class="select-input__item">Giá: Cao đến Thấp</li>
                                </ul>
                            </div>
                        </div>
                        <div class="home__fillter-right">
                            <div class="home__fillter-page">
                                <span class="home__fillter-page-num">
                                    <span class="home__fillter-page-current">1</span>/
                                    <span class="home__fillter-page-sum">14</span>
                                </span>
                            </div>
                            <div class="home__fillter-page-control">
                                <div class="home__fillter-page-btn">
                                    <a href="" class="home__fillter-page-link">
                                        <i class="home__fillter-page-icon fa-solid fa-chevron-left"></i>
                                    </a>
                                </div>
                                <div class="home__fillter-page-btn">
                                    <a href="" class="home__fillter-page-link">
                                        <i class="home__fillter-page-icon fa-solid fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    {{!-- Product --}}
                    <div class="home__product">
                        <div class="grid__row">
                            {{#each products}}
                            <div class="grid__col-2-4">
                                {{!-- /products/detail-product --}}
                                <a class="home__product-item" href="/products/{{this.slug}}">
                                    <div class="home-product-item__img"
                                        style="background-image: url({{this.image}});">
                                    </div>
                                    <h4 class="home-product-item__name">{{this.name}}</h4>
                                    <div class="home-product-item__price-ship">
                                        <div class="home-product-item__price">
                                            <span class="home-product-item__price-old">{{this.oldPrice}}đ</span>
                                            <span class="home-product-item__price-current">{{this.newPrice}}đ</span>
                                        </div>
                                        <div class="home-product-item__ship">
                                            <i class="home-product-item__ship-icon fa-solid fa-truck-fast"></i>
                                        </div>
                                    </div>
                                    <div class="home-product-item__action">
                                        <span class="home-product-item__like">
                                            <i id="btnLike" class="home-product-item__icon-like fa-solid fa-thumbs-up"></i>
                                            {{!-- <i id="btnLike"
                                                class="home-product-item__icon-dislike fa-regular fa-thumbs-up"></i>
                                            --}}
                                        </span>
                                        <div class="home-product-item__rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star-half-stroke"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <div class="home-product-item__sold">
                                            <span class="home-product-item__sold-quantity">Đã bán {{this.saled}} k</span>
                                        </div>
                                    </div>
                                    <div class="home-product-item__origin">
                                        <span class="home-product-item__place">{{this.origin}}</span>
                                    </div>
                                    <div class="home-product-item__favourite">
                                        Yêu thích
                                    </div>
                                    <div class="home-product-item__sale-off">
                                        <span class="home-product-item__sale-off-percent">{{this.saleOff}}%</span>
                                        <span class="home-product-item__sale-off-label">GIẢM</span>
                                    </div>
                                </a>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{!-- Pagination --}}
                    <ul class="pagination home__product-pagination">
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">
                                <i class="pagination-item__icon fa-solid fa-chevron-left"></i>
                            </a>
                        </li>
                        <li class="pagination-item pagination-item--active">
                            <a href="" class="pagination-item__link">1</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">2</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">3</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">4</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">5</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">...</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">14</a>
                        </li>

                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">
                                <i class="pagination-item__icon fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>