<div class="wrap">
    <h1 class="form-heading">Update product</h1>
    <a href="/crud/list-product" class="btn-add-label">
    <i class="fa-solid fa-angles-left"></i>
         All Products
    </a>
    <form method="POST" action="/crud/{{product._id}}?_method=PUT" class="form">
    <div class="left">
        <div class="form-group">
            <label class="form-label" for="name">Product name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{product.name}}">
        </div>
        <div class="form-group">
            <label class="form-label" for="image_1">Link image 1</label>
            <input type="text" class="form-control" id="image_1" value="{{product.image_1}}" name="image_1">
        </div>
        <div class="form-group">
            <label class="form-label" for="image_2">Link image 2</label>
            <input type="text" class="form-control" id="image_2" value="{{product.image_2}}" name="image_2">
        </div>
        <div class="form-group">
            <label class="form-label" for="image_3">Link image 3</label>
            <input type="text" class="form-control" id="image_3" value="{{product.image_3}}" name="image_3">
        </div>
        <div class="form-group">
            <label class="form-label" for="image_4">Link image 4</label>
            <input type="text" class="form-control" id="image_4" value="{{product.image_4}}" name="image_4">
        </div>
    </div>
    <div class="right">
        <div class="form-group">
            <label class="form-label" for="oldPrice">Old price</label>
            <input type="text" class="form-control" id="oldPrice" value="{{product.oldPrice}}" name="oldPrice"></input>
        </div>
        <div class="form-group">
            <label class="form-label" for="newPrice">New price</label>
            <input type="text" class="form-control" id="newPrice" value="{{product.newPrice}}" name="newPrice">
        </div>
        <div class="form-group">
            <label class="form-label" for="saled">Saled</label>
            <input type="text" class="form-control" id="saled" value="{{product.saled}}" name="saled">
        </div>
        <div class="form-group">
            <label class="form-label" for="origin">Origin</label>
            <input type="text" class="form-control" id="origin"value="{{product.origin}}" name="origin">
        </div>
        <div class="form-group">
            <label class="form-label" for="saleOff">SaleOff</label>
            <input type="text" class="form-control" id="saleOff"value="{{product.saleOff}}" name="">
        </div>
        <div class="form-group">
            <label class="form-label" for="reviews">Reviews</label>
            <input type="text" class="form-control" id="reviews"value="{{product.reviews}}" name="reviews">
        </div>
    </div>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
</div>