<div class="wrap">
  <h2 class="form-heading">Product Manage</h2>
  <a href="/crud/create" class="btn-add-label">
    <i class="fa-solid fa-plus"></i>
    Add new product
  </a>
  
  <div class="content">
    {{#if count}}
      <table class="table">
      <thead class="thead">
        <tr>
          <th>#</th>
          <th>Tên sản phẩm</th>
          <th>Giá cũ</th>
          <th>Giá mới</th>
          <th>Loại sản phẩm</th>
          <th>Hình sản phẩm</th>
          <th>Xử lý</th>
        </tr>
      </thead>
      <tbody class="tbody">
        {{#each Products}}
        <tr>
          <td>{{sum @index 1}}</td>
          <td>{{this.name}}</td>
          <td>{{this.oldPrice}}đ</td>
          <td>{{this.newPrice}}đ</td>
          <td>{{this.category}}</td>
          <td>{{this.image}}</td>
          {{!-- <td>
            {{#if this.image}}
              <img id="imglistProduct" src="/product_images/{{this._id}}/{{this.image}}" alt="">
            {{else}}
              <img id="imglistProduct" src="/product_images/no-image.jpg" alt="">
            {{/if}}
          </td> --}}
          <td class="td-wrap">
            <div class="btn-wrap">
              <a href="/crud/{{this._id}}/edit" class="btn-edit"><i class="fa-solid fa-pen"></i></a>
              <a href="" onclick="showPopup()" id="deleteBtn" class="btn-delete" data-id="{{this._id}}" data-toggle="modal" data-target="#modal-delete">
                <i class="fa-solid fa-trash-can"></i>
              </a>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
      
      <h3 style="text-align: center; font-size: 1.6rem;">There are no products</h3>

      
    {{/if}}
    
  
  </div>
</div>

{{!-- popup delete form --}}

<div id="modal-delete" class="modal">

  <!-- Modal content -->
  <div class="modal-content" id="popupdel">
    <span class="close">&times;</span>
    <p style="margin-top: 15px;">Bạn có muốn xóa sản phẩm này?</p>
    <div class="modal-controls">
      <button id="delBtn">Xóa</button>
      <button id="cancelBtn">Hủy</button>
    </div>
  </div>

</div>
<form name="delete-form" method="POST"></form>
<script>
  
    var productId;
    var deleteForm = document.forms['delete-form'];
    var btndelete = document.getElementById('delBtn');

    $('.btn-delete').on('click', function(e) { 
      e.preventDefault();
      productId = $(this).attr('data-id');
      console.log(productId);
      //alert("ID:" + productId);
    })
    btndelete.onclick = function(){
        console.log(productId);
        deleteForm.action = '/crud/' + productId + '?_method=DELETE';
        deleteForm.submit();
    }

  
</script>